# Системные файлы Windows и Google Drive
[Dd]esktop.ini
Thumbs.db
*$IconMap*
*.tmp

# Логи и временные файлы
*.log
*.bak

# Если не нужны вордовские временные файлы (видно на фоне docx)
~$*.docx
~$*.doc
# Игнорируем распакованные данные ChatGPT (там слишком длинные имена)
Chat-GPT_archive.M/
Chat-GPT_archive.Z/
*/audio/
*.wav
